<div class="container">
  <div class="section">
    <div class="image-section">
      <img
        src="{{ url_for('static', filename='images/abt.png') }}"
        alt="About me"
      />
    </div>
    <div class="content">
      <div class="article">
        <p>
          Hello! My name is <strong>Rahul Jaiswar</strong>, a data analyst passionate about turning raw data into impactful insights. With a strong academic background in Information Technology (M.Sc. and B.Sc.) and hands-on experience in data analysis, statistical modeling, and visualization, I specialize in tools like Python, SQL, Power BI, and AWS services such as S3, Glue, and Quicksight. I enjoy uncovering patterns in data and using them to support informed business decisions.
        </p>
        <p>
          I hold a degree in <strong>B.Sc. Information Technology</strong> from
          Lala Lajpat Rai College of Commerce and Economics, which I completed in 2022
          with a <strong>CGPI of 9.19</strong>, and I have also have an <strong>M.Sc. in Information Technology</strong> degree from Kishinchand
          Chellaram College, which I completed in 2024 with a <strong>CGPA of 9.38</strong>.
        </p>
        <p>
          I'm known for my attention to detail, collaborative mindset, and problem-solving approach. I always look forward to acquiring new tools and methods to learn more about the story in the data..
        </p>
        <p>
          <strong>I'm looking for opportunities where I can apply my analytical skills to solve real-world business challenges and contribute to data-driven decision-making.</p>
          </strong>
        <div class="button">
          <a
            href="{{ url_for('static', filename='documents/Rahul_jaiswar.pdf') }}"
            target="_blank"
            >RESUME</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
