<section id="certificates" class="my-5" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card certificate-card">
                    <img src="{{ url_for('static', filename='images/simply-learn.jpg') }}" alt="Project 3" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title">Power BI Certification</h5>
                        <p class="card-text">Issued by Simplilearn</p>
                        <a href="https://www.simplilearn.com/skillup-certificate-landing?token=eyJjb3Vyc2VfaWQiOiIxNzIyIiwiY2VydGlmaWNhdGVfdXJsIjoiaHR0cHM6XC9cL2NlcnRpZmljYXRlcy5zaW1wbGljZG4ubmV0XC9zaGFyZVwvdGh1bWJfNDA1NDkwNl8xNjcyNDczMDIyLnBuZyIsInVzZXJuYW1lIjoiUmFodWwgamFpc3dhciJ9&utm_source=shared-certificate&utm_medium=lms&utm_campaign=shared-certificate-promotion&referrer=https%3A%2F%2Flms.simplilearn.com%2Fcourses%2F4211%2FPower-BI-for-Beginners%2Fcertificate%2Fdownload-skillup&%24web_only=true&_branch_match_id=1291818188902393228&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXL87MLcjJ1EssKNDLyczL1k%2FVd0%2FJ9vewdAzKq0wCAAILxb0lAAAA" class="btn btn-primary" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card certificate-card">
                    <img src="{{ url_for('static', filename='images/great_learning.jpg') }}" alt="Project 3" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title">SQL For Data Science</h5>
                        <p class="card-text">Issued by Great Learning</p>
                        <a href="https://drive.google.com/file/d/1WS0zR8Zplbo6GZ2l1RKhu5QWKUmoe3ta/view" class="btn btn-primary" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card certificate-card">
                    <img src="{{ url_for('static', filename='images/kaggle.jpg') }}" alt="Project 3" class="card-img-top">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pandas Certification</h5>
                        <p class="card-text">Issued by Kaggle</p>
                        <a href="https://drive.google.com/file/d/1dKk_ix4zp5x1p9-8hRtKUejtifrqKm36/view" class="btn btn-primary" target="_blank">View Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>