<div class="row mt-4">
  {% for cert in certificates %}
  <div class="col-md-4 mb-4" data-aos="zoom-in">
    <div class="card certificate-card h-100">
      <img
        src="{{ url_for('static', filename='images/' + cert.image) }}"
        alt="{{ cert.name }}"
        class="card-img-top img-fluid"
        style="object-fit: contain; height: 250px; width: 100%"
      />

      <div class="card-body text-center">
        <h5 class="card-title">{{ cert.name }}</h5>
        <p class="card-text">Issued by {{ cert.provider }}</p>
        <a href="{{ cert.link }}" class="btn btn-primary" target="_blank"
          >View Certificate</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
