{% extends "base.html" %}

{% block content %}
<div class="header-section">
  <video autoplay muted playsinline class="img-fluid LinkedIn_Banner" id="video" oncontextmenu="return false;">
      <source src="{{ url_for('static', filename='videos/LinkedIn_Video.mp4') }}" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</div>

<div class="profile-section">
  <div class="profile-header">
    <img src="{{ url_for('static', filename='images/boy.png') }}" alt="Profile Image" class="img-fluid rounded-circle profile-img">
    <h1>Rahul Jaiswar <img src="{{ url_for('static', filename='images/india.png') }}" alt="Indian Flag" class="flag"></h1>
    <p>A Aspiring Data Analyst.</p>
    <p>Passionate about Turning Data into Insights and Building User-Friendly Web Applications.</p>
    <div class="skills">
        <span>Data Analyst</span>
        <span>Web Developer</span>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/rahul-jaiswar-076a712a2/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/rahuljaiswar"
      target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:rjaiswar257@gmail.com"
      target="_blank"><i class="fas fa-envelope"></i></a>
      <a href="tel:+919930954372" target="_blank"
      ><i class="fas fa-phone" aria-hidden="true"></i
    ></a>
    </div>
  </div>
</div>
<div class="container-fluid tabs">
    {% include 'tabs.html' %}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="about-me" role="tabpanel" aria-labelledby="about-me-tab">
            {% include 'about.html' %}
        </div>
        <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
            {% include 'skills.html' %}
        </div>
        <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
            {% include 'projects.html' %}
        </div>
        <div class="tab-pane fade" id="certificate" role="tabpanel" aria-labelledby="certificate-tab">
            {% include 'certificates.html' %}
        </div>
    </div>
</div>


{% endblock %}
